<app-navbar></app-navbar>

<div>
  <div class="img-gallery">
    <img [src]="gallery" alt="Portada gallery" />
    <div class="title">
      <h1>GALLERY</h1>
      <h2>FLORES SANTILLANA S.A.S</h2>
    </div>
  </div>

  <app-detail-product
    [product]="selectedProduct"
    (closeModal)="selectedProduct = null"
    #modal
  ></app-detail-product>

  <div class="allProducts">
    <ng-container *ngFor="let product of products; let i = index">
      <div class="cardProduct">
        <img [src]="product.img" class="card-img-top" />
        <div class="cardProduct-body">
          <h4 class="cardProduct-title">{{ product.name }}</h4>
          <p class="cardProduct-text">{{ product.description }}</p>
          <button (click)="openModal(product)">Detail</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="questions">
  <div class="items-question">
    <div class="text-question">
      <h4>Are you interested in our reference?</h4>
    </div>
    <button type="button" class="btn-question" routerLink="/contact">
      CONTACT US!
    </button>
  </div>
</div>

<app-footer></app-footer>
<app-message-wsp></app-message-wsp>
