<ngb-carousel [interval]="4000">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="floresParaiso" class="img-carousel" />
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="shoquinAzul" class="img-carousel" />
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="shoquinWhite" class="img-carousel" />
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[3]" alt="ruscusIsraeli" class="img-carousel" />
    </div>
  </ng-template>
</ngb-carousel>
