.nav {
  position: fixed;
}

.navbar-nav {
  font-weight: bold;
}

.small-logo {
  width: 14%;
}

.navbar .container {
  max-width: 100%;
  margin: 0;
  padding: 0;
  margin-right: 3%;
}

.collapse {
  justify-content: space-between;
}

.navbar-nav .nav-item {
  padding: 0 1rem;
}

.d-none {
  display: none;
}

.d-lg-none {
  display: block;
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
}
