<app-navbar></app-navbar>

<div class="contact">
  <div class="all_contact d-flex flex-column flex-lg-row">
    <div class="contact-left">
      <img [src]="logo" alt="logo rojo" class="logo_img" />
      <div class="icons-container">
        <a class="icon-link" href="mailto:flores.santillana02@gmail.com">
          <i class="bi bi-envelope"></i>
          <span>flores.santillana02@gmail.com</span>
        </a>
        <a class="icon-link" href="tel:+573173698643">
          <i class="bi bi-telephone"></i>
          <span>+573173698643</span>
        </a>
        <a
          class="icon-link"
          href="https://www.instagram.com/floressantillana_/?hl=es"
        >
          <i class="bi bi-instagram"></i>
          <span>Flores Santillana S.A.S</span>
        </a>
      </div>
      <h5>Thank you for trusting in our service</h5>
    </div>
    <div class="contact-right flex-nowrap overflow-hidden">
      <form
        [formGroup]="formContact"
        (ngSubmit)="submitForm()"
        class="form-container"
      >
        <div>
          <label for="name">Name:</label>
          <input
            class="input"
            type="text"
            id="name"
            formControlName="name"
            required
          />
          <div
            *ngIf="
              formContact.get('name')?.invalid &&
              (formContact.get('name')?.dirty ||
                formContact.get('name')?.touched)
            "
          >
            <div
              class="text_error"
              *ngIf="formContact.get('name')?.errors?.['required']"
            >
              Name is required
            </div>
          </div>
        </div>

        <div>
          <label for="phone">Phone:</label>
          <input
            class="input"
            type="tel"
            id="phone"
            formControlName="phone"
            required
          />
          <div
            *ngIf="
              formContact.get('phone')?.invalid &&
              (formContact.get('phone')?.dirty ||
                formContact.get('phone')?.touched)
            "
          >
            <div
              class="text_error"
              *ngIf="formContact.get('phone')?.errors?.['required']"
            >
              Phone is required
            </div>
          </div>
        </div>

        <div>
          <label for="email">Email:</label>
          <input
            class="input"
            type="email"
            id="email"
            formControlName="email"
            required
          />
          <div
            *ngIf="
              formContact.get('email')?.invalid &&
              (formContact.get('email')?.dirty ||
                formContact.get('email')?.touched)
            "
          >
            <div
              class="text_error"
              *ngIf="formContact.get('email')?.errors?.['required']"
            >
              Email is required
            </div>
            <div
              class="text_error"
              *ngIf="formContact.get('email')?.errors?.['email']"
            >
              The email is not valid
            </div>
          </div>
        </div>

        <div>
          <label for="message">Message:</label>
          <textarea
            class="input"
            id="message"
            formControlName="message"
            required
          ></textarea>
          <div
            *ngIf="
              formContact.get('message')?.invalid &&
              (formContact.get('message')?.dirty ||
                formContact.get('message')?.touched)
            "
          >
            <div
              class="text_error"
              *ngIf="formContact.get('message')?.errors?.['required']"
            >
              Message is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox-container">
            <div class="checkbox-label-container">
              <input
                class="checkbox"
                type="checkbox"
                id="terms"
                formControlName="terms"
                required
              />
              <label for="terms" class="terms"
                >I have read and accept the legal notice and privacy
                policy</label
              >
            </div>
            <div
              class="text_error"
              *ngIf="
                formContact.get('terms')?.invalid &&
                (formContact.get('terms')?.dirty ||
                  formContact.get('terms')?.touched)
              "
            >
              <div *ngIf="formContact.get('terms')?.errors?.['required']">
                You must agree to terms and conditions
              </div>
            </div>
          </div>
        </div>

        <button
          type="submit"
          [disabled]="formContact.invalid"
          class="submit-btn"
        >
          SUBMIT
        </button>
        <p>
          For the purposes provided for in the General Data Protection
          Regulation (RGPD), you are informed that the personal data you provide
          us through this form will be incorporated into a file of the entity
          FLORES SANTILLANA SAS. Puede ver información detallada en nuestro
          Aviso Legal y Política de Privacidad.
        </p>
      </form>
    </div>
  </div>
</div>

<iframe
  src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3967.3725542580423!2d-75.43795662501077!3d6.0803992939057565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNsKwMDQnNDkuNCJOIDc1wrAyNicwNy40Ilc!5e0!3m2!1sen!2sco!4v1716517964623!5m2!1sen!2sco"
  width="100%"
  height="300"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
></iframe>

<app-footer></app-footer>
<app-message-wsp></app-message-wsp>
