<app-navbar></app-navbar>

<div>
  <form [formGroup]="formContact" (ngSubmit)="submitForm()">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" required />
      <div
        *ngIf="
          formContact.get('name')?.invalid &&
          (formContact.get('name')?.dirty || formContact.get('name')?.touched)
        "
      >
        <div
          class="text_error"
          *ngIf="formContact.get('name')?.errors?.['required']"
        >
          Name is required
        </div>
      </div>
    </div>

    <div>
      <label for="phone">Phone:</label>
      <input type="tel" id="phone" formControlName="phone" required />
      <div
        *ngIf="
          formContact.get('phone')?.invalid &&
          (formContact.get('phone')?.dirty || formContact.get('phone')?.touched)
        "
      >
        <div
          class="text_error"
          *ngIf="formContact.get('phone')?.errors?.['required']"
        >
          Phone is required
        </div>
      </div>
    </div>

    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required />
      <div
        *ngIf="
          formContact.get('email')?.invalid &&
          (formContact.get('email')?.dirty || formContact.get('email')?.touched)
        "
      >
        <div
          class="text_error"
          *ngIf="formContact.get('email')?.errors?.['required']"
        >
          Email is required
        </div>
        <div
          class="text_error"
          *ngIf="formContact.get('email')?.errors?.['email']"
        >
          The email is not valid
        </div>
      </div>
    </div>

    <div>
      <label for="message">Message:</label>
      <textarea id="message" formControlName="message" required></textarea>
      <div
        *ngIf="
          formContact.get('message')?.invalid &&
          (formContact.get('message')?.dirty ||
            formContact.get('message')?.touched)
        "
      >
        <div
          class="text_error"
          *ngIf="formContact.get('message')?.errors?.['required']"
        >
          Message is required
        </div>
      </div>
    </div>

    <div>
      <input type="checkbox" id="terms" formControlName="terms" required />
      <label for="terms" class="terms"
        >I have read and accept the legal notice and privacy policy</label
      >
      <div
        *ngIf="
          formContact.get('terms')?.invalid &&
          (formContact.get('terms')?.dirty || formContact.get('terms')?.touched)
        "
      >
        <div
          class="text_error"
          *ngIf="formContact.get('terms')?.errors?.['required']"
        >
          You must agree to terms and conditions
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="formContact.invalid">Submit</button>
    <p>
      For the purposes provided for in the General Data Protection Regulation
      (RGPD), you are informed that the personal data you provide us through
      this form will be incorporated into a file of the entity FLORES SANTILLANA
      SAS. Puede ver información detallada en nuestro Aviso Legal y Política de
      Privacidad.
    </p>
  </form>
</div>

<app-footer></app-footer>
<app-message-wsp></app-message-wsp>
