<div class="modal" [ngStyle]="{ display: showModal ? 'block' : 'none' }">
  <div id="modal-container" class="modal-container">
    <div class="modal-header">
      <h3>LEGAL NOTICE AND PRIVACY POLICY</h3>
    </div>
    <button type="button" class="close" (click)="closeModalEvent()">x</button>
    <div class="modal-body">
      <h5>Información legal</h5>
      <p>
        En cumplimiento con el deber de la información recogido en el artículo
        10 de la Ley 34/2002, de 11 de Julio, de Servicios de la Sociedad de la
        información y del Comercio Electrónico, le informamos que el contenido
        de esta página web https://floressantillana.com (en adelante, la "Web")
        pertenece a FLORES SANTILLANA SAS con domicilio social en Vereda
        Higueron (España) y con CIF núm. 900736314-1. El presente aviso legal
        regula las condiciones de uso del citado portal de Internet.
      </p>

      <h6>Aceptación del usuario</h6>
      <p>
        Este Aviso Legal regula el acceso, la navegación y el uso de la
        siguiente página web https://floressantillana.com, que FLORES SANTILLANA
        SAS, pone a la disposición de los usuarios de internet. Por lo tanto, el
        acceso a la misma implica la adquisición de la condición de usuario y
        con ello, la aceptación de las condiciones de uso de la web. En caso de
        desacuerdo con las condiciones debe abstenerse del uso del sitio web. El
        usuario queda informado, y acepta, que el acceso a la presente web no
        supone, en modo alguno, el inicio de una relación comercial con FLORES
        SANTILLANA SAS.
      </p>

      <h6>Contenido y uso</h6>
      <p>
        La visita a la página web por parte del usuario deberá hacerse de forma
        responsable y de conformidad con la legalidad vigente, la buena fe, el
        presente Aviso Legal y respetando los derechos de propiedad intelectual
        e industrial titularidad de FLORES SANTILLANA SAS. El sitio web
        proporciona gran diversidad de información, servicios y datos. El
        usuario asume su responsabilidad en el uso correcto del sitio web.
      </p>
      <p>
        El uso de cualquiera de los contenidos de la página web con finalidades
        que sean o pudieran ser ilícitas queda totalmente prohibido, así como la
        realización de cualquier acción que cause o pueda causar daños o
        alteraciones de cualquier tipo no consentidas por FLORES SANTILLANA SAS,
        a la web o a sus contenidos.
      </p>
      <p>
        FLORES SANTILLANA SAS se reserva el derecho de efectuar sin previo aviso
        las modificaciones que considere oportunas en su web, pudiendo cambiar,
        suprimir o añadir tanto los contenidos y servicios que se presten a
        través de la misma como la forma en la que éstos aparezcan presentados o
        localizados en sus servidores.
      </p>

      <h5>Responsabilidades y garantías</h5>
      <p>
        FLORES SANTILLANA SAS declara que ha adoptado las medidas necesarias
        que, dentro de sus posibilidades y el estado de la tecnología, permiten
        el correcto funcionamiento de la web así como la ausencia de virus y
        componentes dañinos. Sin embargo, FLORES SANTILLANA SAS. no puede
        hacerse responsable de las siguientes situaciones que se enumeran a
        título enunciativo, pero no limitativo:
      </p>
      <ul>
        <li><p>La continuidad y disponibilidad de los contenidos.</p></li>
        <li>
          <p>
            La ausencia de errores en dichos contenidos ni la corrección de
            cualquier defecto que pudiera ocurrir.
          </p>
        </li>
        <li><p>La ausencia de virus y/o demás componentes dañinos.</p></li>
        <li>
          <p>
            Los daños o perjuicios que cause cualquier persona que vulnere los
            sistemas de seguridad de FLORES SANTILLANA SAS.
          </p>
        </li>
        <li>
          <p>
            El uso que los usuarios puedan hacer de los contenidos incluidos en
            el web. En consecuencia, FLORES SANTILLANA SAS no garantiza que el
            uso que los usuarios puedan hacer de los contenidos que en su caso
            se incluyan en el sitio web, se ajusten al presente aviso legal, ni
            que el uso del sitio web se realice de forma diligente.
          </p>
        </li>
        <li>
          <p>
            El uso por menores de edad del sitio web o del envío de sus datos
            personales sin el permiso de sus tutores, siendo los tutores
            responsables del uso que hagan de Internet.
          </p>
        </li>
        <li>
          <p>
            Los contenidos a los que el usuario pueda acceder a través de
            enlaces no autorizados o introducidos por usuarios mediante
            comentarios o herramientas similares.
          </p>
        </li>
        <li>
          <p>
            La introducción de datos erróneos por parte del usuario o de un
            tercero.
          </p>
        </li>
      </ul>
      <p>
        FLORES SANTILLANA SAS podrá suspender temporalmente y sin previo aviso,
        la accesibilidad a la web con motivo de operaciones de mantenimiento,
        reparación, actualización o mejora. En consecuencia, FLORES SANTILLANA
        SAS no será, en ningún caso, responsable por cualesquiera daños y
        perjuicios que puedan derivarse de la falta de disponibilidad o
        accesibilidad al sitio web o de la interrupción en el funcionamiento del
        sitio web. No obstante, siempre que las circunstancias lo permitan,
        FLORES SANTILLANA SAS comunicará al usuario, con antelación suficiente,
        la fecha prevista para la suspensión de los contenidos.
      </p>
      <p>
        Asimismo, de conformidad con los arts. 11 y 16 de la Ley 34/2002, de 11
        de julio, de servicios de la sociedad de la información y de comercio
        electrónico (LSSICE), FLORES SANTILLANA SAS. se compromete a la
        eliminación o, en su caso, bloqueo de los contenidos que pudieran
        afectar o ser contrarios a la legislación vigente, los derechos de
        terceros o la moral y orden público.
      </p>

      <h6>Política de enlaces</h6>
      <p>
        FLORES SANTILLANA SAS no se hace responsable del contenido de los sitios
        web a los que el usuario pueda acceder a través de los enlaces
        establecidos en su sitio web y declara que en ningún caso procederá a
        examinar o ejercitar ningún tipo de control sobre el contenido de otros
        sitios de la red. Asimismo, tampoco garantizará la disponibilidad
        técnica, exactitud, veracidad, validez o legalidad de sitios ajenos a su
        propiedad a los que se pueda acceder por medio de los enlaces.
      </p>

      <h5>Política de propiedad intelectual e industrial</h5>
      <p>
        FLORES SANTILLANA SAS es el titular en exclusiva de los derechos
        relativos a su página web y sus redes sociales, por ello, todos los
        contenidos, el diseño gráfico y los códigos que forman parte de
        https://floressantillana.com son de titularidad exclusiva de FLORES
        SANTILLANA SAS. Queda prohibida su reproducción, distribución,
        comunicación pública, transformación o cualquier otra actividad que se
        realice con los contenidos, ni siquiera aunque se citen las fuentes,
        salvo que se cuente con el consentimiento previo, expreso y por escrito
        de FLORES SANTILLANA SAS.
      </p>
      <p>
        FLORES SANTILLANA SAS no concede ninguna autorización de uso de ninguna
        clase sobre sus derechos de propiedad intelectual e industrial o sobre
        cualquier otra propiedad o derecho relacionado con la web, y en ningún
        caso se entenderá que el acceso y navegación de los usuarios implica una
        renuncia, transmisión, licencia o cesión total ni parcial de dichos
        derechos por parte de FLORES SANTILLANA SAS. Cualquier uso de esos
        contenidos no autorizado previamente por parte de FLORES SANTILLANA SAS
        será considerado un incumplimiento grave de los derechos de propiedad
        intelectual o industrial y dará lugar a las responsabilidades legalmente
        establecidas. FLORES SANTILLANA SAS se reserva el derecho de ejercitar
        frente al usuario las acciones judiciales y extrajudiciales que
        correspondan.
      </p>

      <h6>Cláusula de protección de datos</h6>
      <p>
        De conformidad con lo establecido en la normativa vigente en materia de
        Protección de Datos de Carácter Personal, se informa a los usuarios que
        sus datos serán incorporados al Registro de Actividades de Tratamiento
        titularidad de FLORES SANTILLANA SAS con la finalidad de eventualmente,
        poder llevar a cabo los servicios contratados.
      </p>
      <p>
        En cumplimiento con la normativa vigente, FLORES SANTILLANA SAS informa
        que los datos serán conservados durante el plazo estrictamente necesario
        para cumplir con los servicios prestados.
      </p>
      <p>
        Asi mismo, los datos se tratarán de manera lícita, leal, transparente,
        adecuada, pertinente, limitada, exacta y actualizada. Es por ello que
        FLORES SANTILLANA SAS se compromete a adoptar todas las medidas técnicas
        y de seguridad razonables para que estos se supriman o rectifiquen sin
        dilación cuando sean inexactos o no veraces.
      </p>
      <p>
        De acuerdo con la normativa en protección de datos los usuarios podrán
        ejercer los derechos de acceso, rectificación, limitación de
        tratamiento, supresión, portabilidad y oposición al tratamiento de sus
        datos de carácter personal así como renunciar al consentimiento prestado
        para el tratamiento de los mismos. La petición se deberá dirigir al
        siguiente correo electrónico info@floressantillana.com.
      </p>

      <h6>Reserva del derecho a modificar el presente aviso legal</h6>
      <p>
        FLORES SANTILLANA SAS se reserva el derecho a modificar el presente
        aviso legal para adaptarlo a cualquier cambio o novedad normativa, por
        motivos técnicos, por cambios en los servicios ofrecidos por FLORES
        SANTILLANA SAS o por decisiones estratégicas de la compañía. En estos
        casos se avisará en la presente página web con antelación prudencial los
        cambios que se vayan a producir y a partir de cuándo comenzarán a tener
        plenos efectos.
      </p>
      <p>
        Si el usuario no está conforme con los cambios, deberá dejar de utilizar
        el sitio web. La utilización del sitio web tras la realización de los
        cambios supondrá la aceptación de los mismos por los usuarios.
      </p>

      <h6>Nulidad</h6>
      <p>
        Si alguna de las presentes disposiciones se considerase nula, inválida o
        inaplicable, dicha disposición (o la parte que se declare nula, inválida
        o no aplicable) quedará invalidada, sin que esto afecte a la validez y
        la aplicabilidad de las disposiciones restantes.
      </p>

      <h6>Contacta con nosotros</h6>
      <p>
        Para contactar con nosotros puede hacerlo en la dirección arriba
        indicada y también telefónicamente al número indicado en la web.
      </p>

      <div>
        <h4>Política de privacidad</h4>
        <p>
          De conformidad con lo establecido en los arts. 13 y 14 del REGLAMENTO
          (UE) 2016/679 DEL PARLAMENTO EUROPEO Y DEL CONSEJO de 27 de abril de
          2016, relativo a la protección de las personas físicas en lo que
          respecta al tratamiento de datos personales y a la libre circulación
          de estos datos (en adelante, "RGPD"), y los artículos 6 y 11 de la Ley
          Orgánica 3/2018, de 5 de diciembre, de Protección de Datos de Carácter
          Personal y garantía de los derechos digitales (en adelante,
          "LOPDGDD"), por el que se regula el derecho de información en la
          recogida de datos, le informamos de los siguientes extremos.
        </p>

        <h6>
          ¿Quién es el responsable del tratamiento de tus datos personales?
        </h6>
        <p>
          Los datos de carácter personal que nos ha suministrado a través de la
          página web y en cualesquiera otras comunicaciones mantenidas con usted
          serán objeto del Registro de Actividades de Tratamiento titularidad de
          FLORES SANTILLANA SAS con domicilio social Vereda Higueron, provista
          de CIF 900736314-1.
        </p>

        <h6>¿Qué presencia tiene en las redes sociales?</h6>
        <p>
          FLORES SANTILLANA SAS cuenta con los siguientes perfiles en las
          principales redes sociales de Internet (Facebook, Linkedin, Youtube,
          Blog y Newsletter).
        </p>
        <p>
          Se reconoce como responsable del tratamiento de los datos de sus
          usuarios, seguidores, o personas que realicen comentarios a través de
          las mismas. Asimismo de acuerdo con la Ley de servicios de la sociedad
          de la información y de comercio electrónico FLORES SANTILLANA SAS se
          exonera de cualquier tipo de responsabilidad derivada por comentarios
          de los usuarios y seguidores en sus redes sociales.
        </p>
        <p>
          FLORES SANTILLANA SAS podrá utilizar los perfiles descritos
          anteriormente para informar a sus usuarios de temas que considere de
          su interés.
        </p>

        <h6>¿Qué datos personales recopilamos?</h6>
        <p>Los datos personales que el usuario puede llegar a proporcionar:</p>
        <ul>
          <li>
            Datos identificativos:
            <p>
              nombre, apellidos, cargo, rol, correo electrónico y/o número de
              teléfono.
            </p>
          </li>
          <li>
            Datos contables:
            <p>número de cuenta, tarjeta bancaria, etc</p>
          </li>
        </ul>

        <h6>¿Por qué y para qué tratamos tus datos?</h6>
        <p>
          Dependiendo de las finalidades necesitaremos tratar unos datos u
          otros, que en general serán, según el caso, las siguientes:
        </p>
        <ul>
          <li>
            <p>
              La página web es totalmente informativa sobre los servicios de
              plataforma educativa que ofrece FLORES SANTILLANA SAS. Los datos
              pueden ser tratados para responder a las solicitudes de
              información sobre estos servicios.
            </p>
          </li>
          <li>
            <p>
              La recogida y el tratamiento automatizado de datos que se realiza
              a través del formulario de la página web para solicitar
              información se recolecta con el objeto de estudiar la posibilidad
              de contactar con nosotros.
            </p>
          </li>
          <li>
            <p>La página web informa a través de videos identificativos.</p>
          </li>
          <li>
            <p>
              La página web tiene un blog para poder subir y compartir historias
              de interés para los usuarios.
            </p>
          </li>
          <li>
            <p>
              Para gestionar y mantener su candidatura a ocupar un puesto de
              trabajo en FLORES SANTILLANA SAS, cuando nos envía su solicitud de
              participación en un proceso de selección. Este tratamiento está
              basado en el consentimiento del Usuario y en el interés legítimo y
              mutuo de FLORES SANTILLANA SAS y el Usuario, como se indica en la
              información sobre privacidad que el Usuario debe aceptar de forma
              previa al envío de su candidatura.
            </p>
          </li>
        </ul>
        <p>
          Los datos personales que se obtengan a través de cualquiera de los
          canales de la página web formarán parte del Registro de Actividades y
          operaciones de Tratamiento (RAT) titularidad de FLORES SANTILLANA SAS.
          Este se actualizará periódicamente de acuerdo con lo establecido en el
          RGPD y la LOPDGDD, es por ello que FLORES SANTILLANA SAS ha adoptado
          todas las medidas de seguridad pertinentes en este sentido.
        </p>
        <p>
          Se informa al usuario de la posibilidad de retirar su consentimiento
          en el caso de que se haya otorgado para alguna finalidad específica,
          sin que ello afecte a la licitud del tratamiento precedente basado en
          el consentimiento previo a su retirada.
        </p>

        <h6>¿Cuál es la legitimación para el tratamiento de tus datos?</h6>
        <p>
          El tratamiento de tus datos puede fundamentarse en las siguientes
          bases legales:
        </p>
        <ul>
          <li>
            Consentimiento
            <p>
              expreso por parte de los usuarios en la compleción de los
              formularios para la recibir comunicaciones comerciales por parte
              de FLORES SANTILLANA SAS.
            </p>
          </li>
          <li>
            Interés legítimo:
            <p>
              consiste en poder garantizar que nuestra página web permanezca
              segura, así como ayudarnos a comprender las necesidades,
              expectativas y el nivel de satisfacción de los usuarios y, por lo
              tanto, mejorar nuestros servicios. Todas las acciones se realizan
              con el fin de mejorar el nivel de satisfacción de los usuarios y
              asegurar una experiencia única de navegación y eventual
              contratación.
            </p>
          </li>
          <li>
            Cumplimiento de obligaciones legales
            <p>
              para prevención del fraude, colaboración con las Autoridades
              Públicas y/o eventuales reclamaciones de terceros.
            </p>
          </li>
        </ul>

        <h6>¿Cuánto tiempo conservamos tus datos?</h6>
        <p>
          El tratamiento de los datos con las finalidades descritas se mantendrá
          durante el tiempo necesario para cumplir con la finalidad de su
          recogida, así como para el cumplimiento de las obligaciones legales
          que se deriven del tratamiento de los datos. Sin perjuicio de que la
          conservación resulte necesaria para la formulación, el ejercicio o la
          defensa de potenciales reclamaciones; siempre que lo permitiese la
          legislación aplicable.
        </p>
        <p>
          FLORES SANTILLANA SAS se compromete a cesar el tratamiento de los
          datos personales cuando haya finalizado el plazo de conservación, así
          como bloquearlos debidamente en nuestras bases de datos.
        </p>

        <h6>¿A qué destinatarios se comunican tus datos?</h6>
        <p>
          De modo general, FLORES SANTILLANA SAS no cederá datos personales a
          terceras partes, salvo en aquellas situaciones en que los mismos se
          puedan ceder a colaboradores que presten servicios a FLORES SANTILLANA
          SAS, con la finalidad de gestionar la prestación de los servicios, la
          relación contractual y/o precontractual con los interesados o tramitar
          solicitudes formuladas por estos.
        </p>
        <p>
          En estos casos, nos aseguramos de que los destinatarios respetan la
          confidencialidad y cuentan con las medidas adecuadas para proteger los
          datos personales. FLORES SANTILLANA SAS procura garantizar la
          seguridad de los datos personales cuando se envían fuera de la
          empresa. Los terceros con los que FLORES SANTILLANA SAS contrata
          tienen la obligación de garantizar que la información se trata
          conforme con la normativa de protección de datos vigente.
        </p>
        <p>
          En aquellos casos en los que la ley puede exigir que se revelen datos
          personales a organismos públicos u otras partes, solo se revelará lo
          estrictamente necesario para el cumplimiento de dichas obligaciones
          legales.
        </p>
        <p>
          FLORES SANTILLANA SAS comunica datos a proveedores externos, como
          encargados de tratamiento, para llevar a cabo determinados servicios.
        </p>

        <h6>¿Qué derechos te asisten y cómo puedes ejercerlos?</h6>
        <p>
          Ustedes pueden dirigir sus comunicaciones y ejercitar sus derechos
          mediante una comunicación escrita al siguiente correo electrónico:
          info@floressantillana.com
        </p>
        <p>
          En virtud de lo que establece la normativa en protección de datos
          puedes solicitar:
        </p>
        <ul>
          <li>
            Derecho de acceso:
            <p>
              puedes pedir información de aquellos datos personales que
              dispongamos acerca de ti.
            </p>
          </li>
          <li>
            Derecho de rectificación:
            <p>puedes comunicar cualquier cambio en tus datos personales.</p>
          </li>
          <li>
            Derecho de supresión y al olvido:
            <p>
              puedes solicitar la eliminación previo bloqueo de los datos
              personales.
            </p>
          </li>
          <li>
            Derecho de limitación al tratamiento:
            <p>
              supone la restricción del tratamiento de los datos personales.
            </p>
          </li>
          <li>
            Derecho de oposición:
            <p>
              puedes retirar el consentimiento del tratamiento de los datos,
              oponiéndose a que se sigan tratando.
            </p>
          </li>
          <li>
            Derecho a la portabilidad:
            <p>
              en algunos casos, puedes pedir una copia de los datos personales
              en un formato estructurado, de uso común y lectura mecánica para
              su transmisión a otro responsable.
            </p>
          </li>
          <li>
            Derecho a no ser objeto de decisiones individualizadas:
            <p>
              puedes solicitar que no se tomen decisiones que se basen
              únicamente en el tratamiento automatizado, incluyendo la
              elaboración de perfiles, que produzca efectos jurídicos o afecte
              significativamente al interesado.
            </p>
          </li>
        </ul>
        <p>
          En algunos casos, se podrá rechazar la solicitud si solicitas que se
          eliminen datos necesarios para el cumplimiento de obligaciones
          legales. Asimismo, si tienes alguna queja sobre el tratamiento de los
          datos puedes presentar una reclamación a la autoridad competente en
          protección de datos.
        </p>

        <h6>
          ¿Quién es el responsable de la exactitud y veracidad de los datos
          facilitados?
        </h6>
        <p>
          El usuario es el único responsable de la veracidad y corrección de los
          datos facilitados a través de cualquiera de los formularios
          incorporados en la web, exonerando a FLORES SANTILLANA SAS de
          cualquier responsabilidad al respecto. Los usuarios garantizan y
          responden, en cualquier caso, de la exactitud, vigencia y autenticidad
          de los datos personales facilitados, y se comprometen a mantenerlos
          debidamente actualizados. El usuario acepta proporcionar información
          completa y correcta en los formularios que cumplimente.
        </p>
        <p>
          FLORES SANTILLANA SAS no responde de la veracidad de las informaciones
          que no sean de elaboración propia y de las que se indique otra fuente,
          por lo que tampoco asume responsabilidad alguna en cuanto a
          hipotéticos perjuicios que pudieran originarse por el uso de dicha
          información.
        </p>
        <p>
          Se exonera a FLORES SANTILLANA SAS de responsabilidad ante cualquier
          daño o perjuicio que pudiera sufrir el usuario como consecuencia de
          errores, defectos u omisiones, en la información facilitada por FLORES
          SANTILLANA SAS siempre que ésta proceda de fuentes ajenas a ella
        </p>

        <h6>
          ¿Qué medidas de seguridad aplicamos para proteger tus datos
          personales?
        </h6>
        <p>
          FLORES SANTILLANA SAS ha adoptado los niveles de seguridad de
          protección de los datos personales legalmente requeridos, y procura
          instalar aquellos medios y medidas técnicas adicionales a su alcance
          para evitar la pérdida, mal uso, alteración, acceso no autorizado y
          robo de los datos personales facilitados a FLORES SANTILLANA SAS. No
          obstante, el usuario debe ser consciente de que las medidas de
          seguridad en Internet no son inexpugnables.
        </p>
        <p>
          Por ello, FLORES SANTILLANA SAS no es responsable de hipotéticos daños
          o perjuicios que se pudieran derivar de interferencias, omisiones,
          interrupciones, virus informáticos, averías telefónicas o
          desconexiones en el funcionamiento operativo de este sistema
          electrónico, motivadas por causas ajenas a FLORES SANTILLANA SAS de
          retrasos o bloqueos en el uso del presente sistema electrónico
          causados por deficiencias o sobrecargas de líneas telefónicas o
          sobrecargas en el Centro de Procesos de Datos, en el sistema de
          Internet o en otros sistemas electrónicos, así como de daños que
          puedan ser causados por terceras personas mediante intromisiones
          ilegítimas fuera del control de FLORES SANTILLANA SAS
        </p>

        <h6>¿Cómo tratamos los datos de los menores de edad?</h6>
        <p>
          Como regla general, FLORES SANTILLANA SAS tratará datos de menores de
          edad para el almacenamiento y mantenimiento de dichos datos en la
          plataforma educativa de la cual es Responsable del Tratamiento.
          Firmando con los centros educativos los contratos de encargados de
          tratamiento necesarios para garantizar la protección y seguridad de
          estos datos.
        </p>

        <h6>¿Cómo utilizamos las cookies?</h6>
        <p>
          El sitio web y las redes sociales de FLORES SANTILLANA SAS utilizan
          cookies, a los efectos de optimizar y personalizar su navegación por
          las mismas. Las cookies son ficheros físicos de información que se
          alojan en el propio terminal del usuario, la información recogida
          mediante las cookies sirve para facilitar la navegación del usuario
          por el portal y optimizar la experiencia de navegación. Los datos
          recopilados mediante las cookies pueden ser compartidos con los
          creadores de las mismas, pero en ningún caso la información obtenida
          por las mismas será asociada a datos personales ni a datos que puedan
          identificar al usuario. Sin embargo, si el usuario no desea que se
          instalen cookies en su disco duro, tiene la posibilidad de configurar
          el navegador de tal modo que impida la instalación de estos archivos.
          Para obtener más información consulte nuestra Política de Cookies.
        </p>

        <h5>Política de seguridad interna</h5>
        <p>
          Las brechas de seguridad pueden ser causadas por trabajadores,
          terceros o errores informáticos. Por ello, estamos obligados
          legalmente a notificar a los interesados si sus datos personales se
          han visto gravemente afectados en un plazo máximo de 72 horas. Además,
          se notificará a los usuarios tan pronto como se resuelva la brecha de
          seguridad.
        </p>

        <h6>Modificación de la política de privacidad</h6>
        <p>
          Esta política de privacidad puede modificarse. Te recomendamos que
          revises la política de privacidad con cierta periodicidad.
        </p>
      </div>
    </div>
  </div>
</div>
