<div>
  <h1>Política de cookies</h1>
  <p>
    En cumplimiento con el deber de información recogido en el apartado 2º del
    artículo 22 de la Ley 34/2002, de 11 de Julio, de Servicios de la Sociedad
    de la Información y del Comercio Electrónico, la presente cláusula de
    cookies tiene por finalidad informar a los usuarios de manera clara y
    precisa sobre las cookies que utiliza el dominio web
    https://floressantillana.com, propiedad de FLORES SANTILLANA SAS. Una cookie
    es un fichero de pequeño tamaño que los sitios web envían al navegador y
    descargan en su ordenador. Las cookies permiten que la página web almacene y
    recupere la información sobre su visita, como el idioma y otras opciones,
    con el fin de mejorar los servicios que se ofrecen y contribuir a tener una
    mejor experiencia en la navegación para el usuario. En el portal web se
    utilizan diferentes tipos de cookies con distintas finalidades.
  </p>

  <div>
    <ul>
      <li>
        <h4>Cookies necesarias</h4>
        <p>
          Las cookies necesarias hacen la web utilizable activando funciones
          básicas como la navegación en la página web y el acceso a áreas
          seguras de la página. La página web no puede funcionar adecuadamente
          sin estas cookies.
        </p>
      </li>
      <li>
        <h4>Cookies de preferencias</h4>
        <p>
          Las cookies de preferencias permiten al sitio web recordar información
          que cambia la forma en la que el sitio web se comporta o se muestra,
          como el idioma preferido o la región.
        </p>
      </li>
      <li>
        <h4>Cookies estadísticas</h4>
        <p>
          Las cookies estadísticas permiten entender cómo los visitantes
          interactúan en la página web proporcionando información anónima.
        </p>
      </li>
      <li>
        <h4>Cookies de marketing</h4>
        <p>
          Las cookies de marketing se usan para rastrear a los usuarios a través
          de las páginas webs con la intención de mostrarles anuncios que sean
          relevantes para los usuarios.
        </p>
      </li>
      <li>
        <h4>Cookies utilizadas en la web</h4>
        <p>A continuación, se enumeran las cookies empleadas:</p>
      </li>
      <li>
        <h4>EMPRESAS - Cookies utilizadas</h4>
        <p>
          Las cookies estadísticas permiten entender cómo los visitantes
          interactúan en la página web proporcionando información anónima.
        </p>
      </li>
    </ul>
  </div>

  <p>
    Esta información se actualizará en la medida que cambien los servicios
    ofrecidos en este sitio web.
  </p>

  <div>
    <h4>Cómo modificar la configuración de las cookies</h4>
    <p>
      El usuario puede restringir, bloquear o borrar las cookies de FLORES
      SANTILLANA SAS o cualquier otra página web desde su navegador. En cada
      navegador la operativa es diferente, puede encontrar cómo hacerlo en el
      menú de ayuda de su navegador, en el cual se establece el procedimiento
      para su eliminación. Para más información puede acceder a las siguientes
      páginas web:
    </p>
    <ul>
      <li>
        Google Chrome:
        https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=es
      </li>
      <li>
        Mozilla Firefox:
        https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias
      </li>
      <li>
        Safari: https://support.apple.com/es-es/guide/safari/sfri11471/mac
      </li>
      <li>
        Internet Explorer:
        https://support.microsoft.com/es-es/help/278835/how-to-delete-cookie-files-in-internet-explorer
      </li>
    </ul>
    <p>
      Es posible que al deshabilitar las cookies la página web no funcione
      correctamente o no pueda acceder a determinadas funciones de la misma.
    </p>
  </div>
</div>
