.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
  font-family: "ascendant";
  font-weight: bold;
  margin-left: 3%;
  margin-right: 3%;
}

.navbar .container {
  max-width: 100%;
  margin: 0;
  padding: 0;
  margin-right: 3%;
}

.collapse {
  justify-content: space-between;
}

.navbar-nav .nav-item {
  padding: 0 1rem;
}

.d-none {
  display: none;
}

.d-lg-none {
  display: block;
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
  .small-logo {
    width: 14%;
  }
}
