<div class="modal" [ngStyle]="{ display: showModal ? 'block' : 'none' }">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body d-flex">
        <div id="productCarousel" class="carousel_slide" data-ride="carousel">
          <div class="carousel-inner">
            <div
              class="carousel-item"
              [class.active]="i === currentSlide"
              *ngFor="let photo of product?.photos; let i = index"
            >
              <img
                [src]="photo?.img"
                class="d-block w-100"
                [alt]="photo?.name"
              />
              <a class="carousel-control-prev" (click)="prevSlide()">
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
              </a>
              <a class="carousel-control-next" (click)="nextSlide()">
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
              </a>
            </div>
          </div>
        </div>
        <div class="content-container">
          <div class="modal-header">
            <h3 class="modal-title">{{ product?.name }}</h3>
            <button type="button" class="close" (click)="closeModalEvent()">
              x
            </button>
          </div>
          <div class="body-content">
            <p>{{ product?.allDescription }}</p>
            <p>{{ product?.available }}</p>
            <div class="sizes">
              <ul *ngFor="let size of product?.sizes; let i = index">
                <li>
                  <h5>{{ size.name }}</h5>
                  <p class="text_li">{{ size.text }}</p>
                </li>
              </ul>
            </div>
            <button type="button" class="btn-contact" routerLink="/contact">
              CONTACT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
