<div class="modal" [ngStyle]="{ display: showModal ? 'block' : 'none' }">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body d-flex">
        <div class="img-container">
          <img [src]="product?.img" class="img-fluid" [alt]="product?.name" />
        </div>
        <div class="content-container">
          <div class="modal-header">
            <h5 class="modal-title">{{ product?.name }}</h5>
            <button type="button" class="close" (click)="closeModalEvent()">
              x
            </button>
          </div>
          <p>{{ product?.allDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
