<app-navbar></app-navbar>

<div class="blog_content">
  <div class="title">
    <h1>BLOG</h1>
  </div>

  <div class="card_content">
    <h2>HOW TO OPEN A BIRD OF PARADISE</h2>
    <P
      >A study in curves, angles and contrasting colors, fully opened
      bird-of-paradise (Strelitzia spp.) flowers may be among nature's most
      artistic creations. Incorporating their exotic appearance in a floral
      design, however, can require doing what nature sometimes won't: completely
      open bird-of-paradise flowers after they have been cut from the plant.
      Opening the beaklike sheaths to release their brilliant, orange and blue
      flowers isn't difficult, but it requires advance preparation.</P
    >

    <div class="tips">
      <h5>Tips</h5>
      <ul>
        <li>
          The commercially available orange-and-blue bird-of-paradise cut
          flowers come from the bird-of-paradise plant also called crane flower
          (Strelitzia reginae)
        </li>
        <li>
          Purchase bird-of-paradise flowers with closed or barely open sheaths,
          or beaks. If a hint of orange isn't visible through an opening, the
          florets may have been removed.
        </li>
      </ul>
    </div>

    <div class="more_content" *ngIf="showMoreContent">
      <h3>Hydrating the Flowers</h3>
      <P
        >The technique of hydrating bird-of-paradise flowers applies only to
        flowers that weren't hydrated at a flower shop.</P
      >
      <div class="things">
        <h5>Things You'll Need</h5>
        <ul>
          <li>
            Vase large enough to hold the flowers and heavy enough to balance
            their hydrated weight.
          </li>
          <li>Thermometer</li>
          <li>Water between 85 and 100 degrees Fahrenheit.</li>
          <li>Ruler</li>
          <li>Sharp, clean knife or stem cutters</li>
          <li>Rubbing alcohol</li>
        </ul>
      </div>

      <div class="steps">
        <dl>
          <dt>Step 1:</dt>
          <dd>
            Fill a large, heavy vase halfway with water that is between 85 and
            100 degrees Fahrenheit.
          </dd>

          <dt>Step 2:</dt>
          <dd>Remove all tape or netting from the flowers' sheaths.</dd>

          <dt>Step 3:</dt>
          <dd>
            Cut 1 inch from the base of an individual flower's stalk by using a
            sharp, clean knife or stem cutters, and immediately place the stalk
            in the vase's warm water. Repeat the procedure for each flower stalk
            but disinfect the knife or stem cutters in rubbing alcohol before
            each cut. If the vase becomes top-heavy, add water between 85 and
            100 F to balance it.
          </dd>

          <dt>Step 4:</dt>
          <dd>Disinfect the knife or stem cutters after you finish cutting.</dd>

          <dt>Step 5:</dt>
          <dd>Wait at least two hours for the flowers to hydrate fully.</dd>
        </dl>
      </div>

      <div class="tips">
        <h5>Tip</h5>
        <ul>
          <li>
            If the flowers were already hydrated at a flower shop, simply trim
            the base of their flower stalks, place them in a vase of warm water
            as you would the non-hydrated flowers, and then proceed to open
            them.
          </li>
        </ul>
      </div>

      <div class="steps">
        <h3>Opening the Flowers</h3>
        <dl>
          <dt>Step 1:</dt>
          <dd>
            Remove one flower from the vase, and "unzip" the length of stringy
            material holding its sheath closed. If the string is missing, insert
            your forefinger in the seam at the stalk or stem end, and slowly
            work it toward the point of the sheath. Apply just enough pressure
            to open the sheath just barely. Let the weight of the hydrated
            flower do most of the work.
          </dd>

          <dt>Step 2:</dt>
          <dd>
            Insert your fingers in the sheath's opening and widen it enough to
            see the flowers
          </dd>

          <dt>Step 3:</dt>
          <dd>
            Grasp the top floret gently with your thumb and forefinger, and
            carefully pull it through the opening. Put the stem back in the vase
            to hydrate.
          </dd>

          <dt>Step 4:</dt>
          <dd>
            Repeat the procedure for each bird-of-paradise flower you wish to
            open.
          </dd>
        </dl>
      </div>

      <div class="tips">
        <h5>Tip</h5>
        <ul>
          <li>
            Each sheath typically contains four to six florets. Once the first
            is out, the others follow naturally over several days as long as the
            flower remains hydrated. To speed the process, work just one or two
            more florets out of the sheath as you did the first floret. For the
            most natural look, let the remaining florets expand on their own.
          </li>
        </ul>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="caring">
            <h3>Caring for the Flowers</h3>
            <p>
              With the right care, cut bird-of-paradise flowers last one to two
              weeks. Proper care includes:
            </p>
            <ul>
              <li>
                Adding the appropriate amount of commercial floral preservative
                to the water. Commercial preservatives contain antibacterial and
                acidifying compounds that keep the water clean, and they have
                carbohydrates that feed the flowers.
              </li>
              <li>
                Emptying the vase every three days, cleaning it with mild dish
                soap, rinsing it with clean water and refilling it with warm
                water and floral preservative.
              </li>
              <li>
                Cutting the stems back by 1/2 inch before returning them to the
                cleaned, refilled vase. Cutting removes possibly clogged tissues
                from the stems' ends, which helps the stems take up water more
                easily.
              </li>
              <li>
                Displaying the vase of flowers out of direct sunlight in a place
                that stays above 50 F.
              </li>
            </ul>
          </div>

          <div class="tips">
            <h5>Tip</h5>
            <ul>
              <li>
                One manufacturer recommends using 1 teaspoon of its floral
                preservative for every 1 quart, or 4 cups, of water. Use the
                amount suggested in the directions for the brand of floral
                preservative you choose.
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="image-container full-width-image">
            <img [src]="img" alt="bird of paradise" />
          </div>
        </div>
      </div>

      <div class="references">
        <h5>References</h5>
        <ul>
          <li>
            <a href="https://www.ehow.com/how_7696595_open-bird-paradise.html"
              >How to Open a Bird of Paradise (ehow.com)</a
            >
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=Qw4uLE5IXAs"
              >Opening Birds of Paradise Blooms</a
            >
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=IieWcF8F1lY"
              >June 2014 Wholesale Flower Product Showcase: How to Open Birds of
              Paradise (youtube.com)</a
            >
          </li>
          <li>
            <a
              href="https://digitalbotanicgarden.blogspot.com/2011/04/bird-of-paradise-flower-strelitzia.html"
              >A Digital Botanic Garden: Bird of Paradise flower, Strelitzia
              reginae,Strelitziaceae
            </a>
          </li>
        </ul>
      </div>
    </div>

    <h3 class="align-right">
      <a
        class="read_more"
        href="#"
        (click)="toggleMoreContent(); $event.preventDefault()"
      >
        {{ showMoreContent ? "READ LESS" : "REED MORE" }}
      </a>
    </h3>
  </div>
</div>

<app-footer></app-footer>
<app-message-wsp></app-message-wsp>
