/* general */

h2 {
  margin-top: 10px;
  color: #7c2520;
  font-family: "ascendant";
  font-weight: bold;
  letter-spacing: 2px;
}

h4 {
  font-family: "ascendant";
  font-weight: medium;
}

p {
  color: rgba(0, 0, 0, 0.7);
  font-family: "ascendant";
  font-weight: normal;
}

button {
  border: none;
  border-radius: 15px;
  color: #fff;
  background-color: #7c2520;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5c1a15;
}

/* products */

.allProducts {
  margin-top: 2%;
  margin-top: 4%;
}

.productDiv {
  display: flex;
}

.product-left {
  margin-left: 10%;
  margin-top: 6%;
  display: inline-block;
}

.btn-product {
  margin-top: 7%;
}

.product-right {
  display: flex;
  flex-direction: row;
  overflow-x: auto; /* Agrega scroll horizontal si hay demasiadas tarjetas */
  margin-left: 15%;
}

.cardProduct {
  max-width: 35%;
  flex-shrink: 0;
  margin-right: 20px;
  background-color: rgb(226, 225, 225);
  padding: 15px;
}

.arrows-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 4%;
  margin-bottom: 2%;
  margin-top: 1%;
}

.arrow-btn {
  background-color: #7c2520;
  color: white;
  border: none;
  font-size: 16px;
  margin: 0 10px;
}

/* advantages */

.title {
  margin-top: 40px;
  text-align: center;
}

.picsum-img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 50px;
  margin-top: 0px;
}

.picsum-img-wrapper .icons-img {
  width: 120px;
  height: 120px;
}

.picsum-img-wrapper .text-below {
  background-color: rgb(226, 225, 225);
  border-radius: 5px;
  padding: 15px;
  color: black;
  font-family: "ascendant";
  font-weight: medium;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.icons-advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 22px;
  margin-bottom: 30px;
}

/* history */

.card {
  display: flex;
  flex-direction: row;
  background-color: rgb(226, 225, 225);
  border: none;
  border-radius: 0;
}

.card-img {
  width: 60%;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  width: 45%;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 20px;
}

.card-content p {
  font-size: 12px;
  text-align: justify;
  margin-right: 22px;
}

.btn-history {
  border: none;
  border-radius: 15px;
  color: #fff;
  background-color: #7c2520;
  padding: 10px 20px;
  margin-left: 40%;
  margin-bottom: 3%;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .card-img,
  .card-content {
    width: 100%;
    margin-left: 0;
  }
  .card-content > h3,
  .card-content > p {
    margin-left: 20px;
    margin-right: 20px;
  }
}
