<app-navbar></app-navbar>
<app-carousel></app-carousel>

<div class="allProducts">
  <div class="productDiv">
    <div class="product-left">
      <h2>PRODUCTS</h2>
      <button class="btn-product btn-primary">ALL PRODUCTS</button>
    </div>
    <div class="product-right flex-nowrap overflow-hidden">
      <ng-container *ngFor="let product of products; let i = index">
        <div class="cardProduct">
          <img [src]="product.img" class="card-img-top" />
          <div class="cardProduct-body">
            <h4 class="cardProduct-title">{{ product.name }}</h4>
            <p class="cardProduct-text">{{ product.description }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="arrows-container">
    <button class="arrow-btn" (click)="scrollLeft()">&#8249;</button>
    <button class="arrow-btn" (click)="scrollRight()">&#8250;</button>
  </div>
</div>

<div class="card-container">
  <div class="card">
    <div class="card-img">
      <img [src]="flower" alt="Imagen muestra" />
    </div>
    <div class="card-content">
      <h2>Flores Santillana S.A.S</h2>
      <p>
        25 years ago, and from a handful of seeds, we started a fascinating
        learning process that has allowed us to improve and grow, which led us
        in 2014 to merge efforts and found FLORES SANTILLANA. Today we are proud
        to know that we are, among others, the largest producers in Antioquia of
        Birds of Paradise, being also one of the largest in Colombia.
      </p>
      <p>
        We are an agricultural company dedicated to FLORICULTURE, specialized in
        the production and marketing of BIRDS OF PARADISE (Strelitzia Reginae),
        HYDRANGEAS (hydrangea macrophilla) and Ruscus Aculeatus. We are located
        in rural Antioquia, with more than 14 hectares of own crops in the
        municipalities of La Unión and Rionegro, for distribution mostly in
        North America, and in smaller but growing quantities to the Arabian
        Peninsula.
      </p>
      <p>
        These achievements have been made possible thanks to the effort and
        dedication of our most valuable resource; our employees; people from the
        region who with their hands sow, prune, fertilize, harvest, pack and
        dispatch, guaranteeing products of the highest quality.
      </p>
      <p>
        In FLORES SANTILLANA, we remain present as a company, taking care of our
        planet, our people and our society, together, to build a better
        tomorrow.
      </p>
      <button type="button" class="btn-history">ABOUT US</button>
    </div>
  </div>
</div>

<div class="advantages">
  <div>
    <h2 class="title">OUR ADVANTAGE</h2>
    <div class="icons-advantages d-flex flex-wrap">
      <div class="picsum-img-wrapper col-md-auto" *ngFor="let item of icons">
        <img [src]="item.icon" alt="Icon" class="icons-img" />
        <div class="text-below">{{ item.text }}</div>
      </div>
    </div>
  </div>
</div>
