@import "~bootstrap-icons/font/bootstrap-icons.css";

.footer {
  background-color: #7c2520;
  margin-top: 3%;
  position: absolute;
  width: 100%;
}

.logo_img {
  width: 20%;
  display: block;
  margin: 0 auto;
}

.icons-social {
  color: white;
  margin-bottom: 1rem;
}

.icon-link {
  color: white;
  margin: 0 0.5rem;
}

h3 {
  color: white;
  font-family: "ascendant";
  font-weight: normal;
  letter-spacing: 1.5px;
  font-size: 12px;
  text-align: center;
}

.footer-line {
  border: none;
  border-top: 1px solid white;
  margin-top: 7px;
}

.text {
  width: 80%;
  margin-left: 10%;
}

.text span {
  margin-top: -7px;
}

.policy {
  cursor: pointer;
}

@media (max-width: 768px) {
  h3 {
    font-size: 7px;
  }

  .text {
    width: 70%;
  }
}
