<div class="footer bottom">
  <img [src]="logo" alt="logo blanco" class="logo_img" />
  <div class="icons-social d-flex justify-content-center">
    <a class="icon-link" href="mailto:flores.santillana02@gmail.com"
      ><i class="bi bi-envelope"></i
    ></a>
    <a class="icon-link" href="tel:+573173698643"
      ><i class="bi bi-telephone"></i
    ></a>
    <a
      class="icon-link"
      href="https://www.instagram.com/floressantillana_/?hl=es"
      ><i class="bi bi-instagram"></i
    ></a>
  </div>

  <app-legal-policy (closeModal)="(null)" #modalLegal></app-legal-policy>
  <app-policy-cookies (closeModal)="(null)" #modalPolicy></app-policy-cookies>

  <div class="text d-flex justify-content-center">
    <h3 (click)="openLegalModal()" class="policy">
      LEGAL NOTICE AND PRIVACY POLICY
    </h3>
    <span class="mx-2 text-white">|</span>
    <h3 (click)="openCookiesModal()" class="policy">POLICY COOKIES</h3>
  </div>
  <hr class="footer-line" />
  <h3>FLORES SANTILLANA S.A.S 2024</h3>
</div>
